<div>
    <p>Mi nombre es: <strong>{{ nombre }}</strong></p>

    <div class="contenedor-entrada">
        <input (input)="nuevoNombre = $event.target.value" name="input-name" type="text" pattern="[a-zA-Z]" placeholder="Dame un nuevo nombre" />
        <button (click)="cambiarNombre($event)">Dar nuevo nombre</button>
    </div>

    <div class="contenedor-evento">Último evento:{{ ultimoEvento }}</div>
    
</div>