<div>
    <p>PADRE</p>

    <p>{{ ultimoEvento }}</p>

    <app-hijo nombre="Juan" (cambioNombreEvent)="actualizarUltimoEvento($event)" ></app-hijo>

    <app-hijo nombre="Pepe" (cambioNombreEvent)="actualizarUltimoEvento($event)" ></app-hijo>

    <app-hijo nombre="Conchita" (cambioNombreEvent)="actualizarUltimoEvento($event)" ></app-hijo>
</div>