:host{
    padding: 20px;
    margin:20px;
    display: inline-block;
    box-shadow: 0 4px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
    min-width: 220px;
    max-width: 700px;
    color: #333;
    background: white;
}